.swiperContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.mySwiper {
  width: 230px;
  height: 320px;

}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
}