.footercontainer {
  background-color: #333;
  max-width: 4000px;
  padding: 15px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.footercontainer h4 {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #e2e2e2;
}

.footercontainer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footercontainer a {
  color: #e2e2e2;
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: 1px solid transparent;
}

.footercontainer a:hover {
  color: #4299e1;
}

.footerbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #4c4c4c;
}

.socialicons a {
  font-size: 1.2rem;
  color: #d4d4d4;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.socialicons a:hover {
  color: #4299e1;
  transform: scale(1.1);
}

@media (max-width: 640px) {
  .gridcontainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}